
a {
	text-decoration: none;
	list-style: none;
	color: #229ba2;
}
table {
	margin-bottom: 5px!important;
}
td {
    padding: 0px!important;
}
#myChart {
	max-width: 250px;
	max-height: 200px;
}
tr a {
	color: #0e7ac3;
}
.container-fluid {
	margin: 0;
}
.tableTitle {
	background: #e8e8e8;
    text-align: center;
    padding: 5px;
    color: #229ba2;
    font-size: 26px;
    font-weight: bold;
    margin-top: 5px;
}

h1 {
	font-size: 20px;
	font-weight: normal;
	padding: 0;
	margin: 0;
	color: #4bb0ff;
	font-family: inherit;
}
h2 {
	font-size: 18px;
	font-weight: normal;
	padding: 0;
	margin: 0;
	font-family: inherit;
}
.submit {
	margin: auto;
    height: 50px;
    border-radius: 5px;
    background: #22adb5!important;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.itemID {
	margin: auto;
	height: 70px;
	font-size: 20px;
	font-weight: bold;
}
.green {
	color: #41b508;
	font-weight: bold;
}
.yellow {
	color: #bfa20d;
	font-weight: bold;
}
.red {
	color: #b50808;
	font-weight: bold;
}
.rows {
	padding: 0;
	margin: 0;
}
.left {
	font-weight: bold!important;
	color: black;
	font-size: 20px;
}
.right {
	font-size: 20px;
	font-weight: normal;
	text-align: right;
}

div#mainWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50px;
    z-index: 1;
}
input.form-control {
	border: none;
    background: transparent;
    box-shadow: none;
}
input.form-control:focus, input:focus{
    outline: red;
}
.focusValues {
    text-align: center;
    height: 100px;
    box-shadow: black;
    font-size: 30px;
    padding: 0;
}
.focusValues .title {
    font-size: 80%;
    background: #e8e8e8;
    width: 100%;
    height: 45px;
    position: relative;
    color: #229ba2;
    font-weight: bold;
    line-height: 45px;
}
.focusValues .value {
	font-size: 80%;
	line-height: 55px;	
}
