body {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    background: #141414;
    transition: all 0.3s ease-in-out;
}
a {

}
h1 {

}
h2 {

}
/*KeyColor text*/
a, h1.userImgTopMenu {
	color: #22adb5;
}
/*KeyColor background*/
{

}
/*boxShadow*/ 
div.topMenu, .userBlockToggled, div.upperMenu, .login {
	-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.75);
}
div.topMenu {
	height: 100px;
	width: 100%;
	background: #313131;
	padding: 0;
	position: fixed;
	z-index: 100;
}
div.upperMenu {
	z-index: 100;
	padding: 0px 10px 0px 10px;
}
div.subMenu {
    width: 100%;
    height: 30px;
    background: #e50914;
    text-align: center;
}
div.subMenu a {
    color: white;
    font-size: 20px;
    margin-right: 20px;
    line-height: 30px;
}
.userBlock {
	height: 70px;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    cursor: pointer;
    padding: 10px;
    border-left: 2px dotted #828282;
    padding: 10px 30px 10px 15px;
}
.userBlockContent {
    position: absolute;
    right: 30px;
    top: 82px;
    background: #ffffff;
    width: 300px;
    border: 1px solid #8a8a8a;
    z-index: 5;
    border-top: 3px solid #313131;
    opacity: 0.95;
}
span.glyphicon.glyphicon-play {
    color: white;
    transform: rotate(-90deg);
    position: absolute;
    right: 41px;
    top: 60px;
    z-index: 100;
    font-size: 30px;
    opacity: 0.95;
}
.userBlockToggle {
    right: 0px;
}
.bottomBlock {
    padding: 5px;
    width: 100%;
    background: #313131;
    text-align: center;
    height: 45px;
    border-top: 2px dotted #828282;
}
.logOut {
	color: #d84444;
    font-size: 22px;
}
.listBlock {
    padding: 10px 10px 10px 10px;
    min-height: 80px;
    max-height: 250px;
    overflow: auto;
}
.listBlock li {
    text-decoration: none;
    list-style: none;
    font-size: 100%;
    text-align: left;
}
.listBlock ul {
	padding: 0;
	margin: 0;
}

span.glyphicon.glyphicon-log-out {
    margin-left: 7px;
    font-size: 17px;
}
.container-fluid.mainWrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 100px;
    padding: 20px 20px 0px 20px;
}
img.userImgTopMenu {
    height: 50px;
    width: 50px;
    float: left;
    border: 2px solid #828282;
}
h1.userImgTopMenu {
	float: left;
    line-height: 50px;
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 10px;
    color: white;
}
.displayNoneUltra {
    display: none!important;
}
.displayNone {
	display: none;
}
.displayBlock {
	display: block;
}
.sideMenu {
    position: fixed;
    top: 100px;
    left: -320px;
    right: 0;
    bottom: 0;
    background: #cccccc;
    width: 320px;
    z-index: 10;
    border-right: 1px dotted #000;
    transition: all 0.2s ease-in-out;
    padding: 10px;
    overflow-y: scroll;
}
.burgerBlock {
    height: 70px;
    width: 70px;
    float: left;
    font-size: 42px;
    padding: 12px;
    border-right: 2px dotted #828282;
    color: white;
    cursor: pointer;
}
.logoBlock {
    float: left;
    height: 70px;
    max-width: 300px;
    padding: 10px;
    margin-left: 10px;
    color: white;
    font-size: 30px;
    line-height: 54px;
}
.logoBlock .logo {
	width: auto;
	height: 100%;
}
.col-md-6 {
	padding: 10px;
}
.glyphicon-menu-hamburger {
	transition: all 0.2s ease-in-out;
}
.burgerBlock .glyphicon-plus {
	transition: all 0.2s ease-in-out;
	transform: rotate(-135deg);
    color: #e06868;
}
.rotate {
	transform: rotate(-90deg);
}
.slideMenu {
	left: 0px;
}
div#blockSubmitter {
    position: absolute;
    width: 35%;
    z-index: 1000000000000000000;
    background: #ffffff;
    border: 2px solid #000;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px;
    display: none;
}
div#backgroundFader {
    position: absolute;
    background: black;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    opacity: 0.5;
    display: none;
}

.progress {
    height: 30px;
}
.bar { 
    width: 0%; 
    height: 25px; 
    border-radius: 3px; 
}
.percent { 
    display: inline-block;
    top: -21px;
    left: 48%;
    color: #f5f5f5;
    font-size: 14px;
    line-height: 25px;
    font-weight: bold;
    font-family: inherit;
    z-index: 100;
    width: 100%;
    text-align: center;
}
.previewWrapper .previewTitle {
    font-size: 30px;
}

.well.previewWrapper {
    height: 350px;
}
#addNew {

} 
.uploadField {
    width: 100%;
    height: 150px;
    background-image: url('../img/uploadbg.png');
    background-repeat: no-repeat;
    background-size: auto 70%;
    background-position: center center;
    background-color: white;
    border: 5px solid #a5a5a5;
    border-radius: 10px;
}
.uploadTitle {
    width: 100%;
    height: 60px;
    border: 5px solid #a5a5a5;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    padding: 0px 0px 0px 7px;
    color: rgb(14, 103, 181);
    font-family: arial;
    background: rgb(255, 255, 255);
    text-align: center;
}
#submitUpload {
   /* width: 100%;
    height: 70px;
    font-size: 30px;
    font-weight: bold;
    line-height: 56px;*/
}
.center {
    text-align: center;
}
th {
    background: rgb(41, 167, 181);
}
td {
    border: none;
    vertical-align: middle!important;
}

/**/
.cinemaWrapper {
    padding: 10px;
}
.itemWrapper {
    width: 9%;
    min-width: 100px;
    float: left;
    margin: 6px 10px 6px 0px;
    transition: all 0.2s ease-in-out;
    position: relative;
    cursor: pointer;
    color: white;
    font-size: 30px;
}
.itemWrapper:hover {
    /*opacity: 0.5;*/
}
.itemThumbnail {
    border: 1px solid #000;
    background-size: 100% 100%;
    background-image: url(http://icons.iconarchive.com/icons/dtafalonso/android-lollipop/512/Movie-Studio-icon.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: 74% 0%;
    transition: all 0.5s ease-in-out;
}
.itemThumbnail:hover {
    filter: blur(1px);
    opacity: 0.5;
}

.itemTitle {
    color: #ffffff;
    background: rgb(10, 10, 10);
    transition: all 0.3s ease-in-out;
    font-weight: 700;
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
    margin: auto;
    width: 100%;
    height: 60px;
    font-size: 200%;
    line-height: 60px;
    text-align: center;
}
.tabs {
    background: #9a7e13;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    color: white;
    min-height: 30px;
}
.itemMeta {

}
.ratingIcon {
    height: 50px;
    width: 50px;
    background-image: url(http://www.free-icons-download.net/images/star-icon-36411.png);
    background-size: 50px auto;
    background-position: center center;
    background-repeat: no-repeat;
    font-size: 18px;
    float: left;
}
.itemRating {
    margin: 8px 0px 0px 60px;
    font-size: 30px;
    font-weight: bold;
}
.itemDescription {
    font-size: 16px;
    padding: 60px 10px 0px 0px;
}
.searchWrapper {
    height: 50px;
}
.srcBar {
    width: 100%;
    height: 44px;
    border: 5px solid #757575;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(14, 103, 181);
    font-family: arial;
    background: rgb(58, 58, 58)
}
#cinemaContent {
    position: absolute;
}


/* Bootstrrap overwrite */ 

.cinemaRow {
    margin: 20px 0px 20px 0px;
}
.cinemaRowTitle {
    margin: 10px 0px 10px 0px;
    font-size: 24px;
    color: white;
}
#moveable {
    position: absolute;
    left: 0;
    right: 0;
    margin: 85px 0px 0px 20px;
}
#previewTitle {
    position: fixed;
    margin: 0;
    padding: 10px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 6% 10% 10% 10%;
    background: rgba(0, 0, 0, 0.79);
    z-index: 1000000000;
    overflow-y: scroll;
}

#previewTitle .row {
    margin: 0;
}
#previewTitle .banner {
    background: rgb(10, 10, 10);
    padding: 15% 0%;
    background-image: url('../img/defaultbanner.jpg');
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: relative;
}
#previewTitle .overview {
    width: 100%;
    padding: 20px;
    background: #151515;;
    min-height: 20%;
    color: #b9b9b9;
    font-size: 16px;
    max-height: 40%;
    overflow-y: auto;
}
#previewTitle .playIco {
    background: rgb(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-image: url(http://addplaybuttontoimage.way4info.net/Images/Icons/7.png);
    background-position: center center;
    background-size: 60px auto;
    background-repeat: no-repeat;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}
#previewTitle .playIco:hover {
    opacity: 0.6;
    cursor: pointer;
}




#player {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
}

#playerBack {
    width: 100%;
    height: 90px;
    background: rgba(0, 0, 0, 0.28);
    position: absolute;
    color: white;
    font-size: 50px;
    font-weight: bold;
    z-index: 100000;
    padding: 10px 0px 10px 40px;
}

div#controlWrapper {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 175px;
    padding: 30px 5% 20px 5%;
}
div#playerControls {
    position: relative;
    width: 100%;
    background: #131313;
    bottom: 0;
    height: 80px;
    border-radius: 20px;
    border: 8px solid #3a3838;
}

.controlBlock {
    height: 100%;
    width: 80px;
    border-right: 2px solid #2d2d2d;
    line-height: 66px;
    text-align: left;
    padding: 0px 10px 0px 26px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    transition: all 0.2s ease-in-out;
}

.controlBlock:hover {
    font-size: 34px;
    color: #385f73;
}

#playerControls .left {
    float: left;
}
#playerControls .right {
    float: right;
}
#playerControls .title {
    text-overflow: ellipsis;
    overflow: hidden;
    width: auto;
    white-space: nowrap;
}

div#volumePump {
    position: relative;
    z-index: 10000;
    top: -240px;
    right: 15px;
    width: 65px;
    height: 156px;
    background: #131313;
    border: 8px solid #3a3838;
    border-radius: 20px;
    padding: 10px 14px 10px 15px;
    z-index: 100000;
    display: none;
}

div#soundDrag {
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 10px;
    cursor: pointer;
}
div#dragContain {
    width: 100%;
    height: 100%;
    background: blue;
    background: #3a3838;
    border-radius: 20px;
}
div#timeline {
    position: absolute;
    height: 20px;
    width: 90%;
    bottom: 166px;
}
div#timeline #inner {
    position: relative;
    background: red;
    right: 0;
    left: 0;
    z-index: 1;
    background: #131313;
    border: 1px solid #3a3838;
    border-radius: 20px;
    height: 20px;
    margin: 0px 14px 0px 14px;
}
div#timeline #inner h1, p {
    float: left;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
div#trail {
    position: absolute;
    background: #e50914;
    height: 100%;
    border-radius: 20px;
    z-index: 90;
    left: 14px;
}
div#trailDrag {
    position: absolute;
    width: 28px;
    height: 28px;
    background: #b70710;
    border-radius: 28px;
    top: -5px;
    z-index: 100;
}
div#trailHover {
    width: 150px;
    height: 50px;
    position: absolute;
    background: #131313;
    bottom: 40px;
    right: 0px;
    border: 5px solid #3a3838;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 45px;
    display: none;
    transition: all 0.2s ease-in-out;
}

#subtitles {
    cursor: pointer;
}
div#subsWrapper {
    width: 250px;
    position: absolute;
    border: 7px solid #3a3838;
    background: #131313;
    bottom: 83px;
    right: 0;
    border-radius: 20px;
    padding: 10px;
    z-index: 100;
}
div#subsWrapper ul li {
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 20px;
}
div#subsWrapper ul li:hover {
    color: red;
}

div#full {
    width: 100%;
    height: 100%;
    background: rgba(1, 0, 1, 0.3);
    position: absolute;
    transition: all 0.5s ease-in-out;
    opacity: 1;
}

::cue {
    color: #FFC20F;
    background: none;
    font-size: 50px;
    font-weight: bold;
    padding: 0px 0px 200px 0px;
    transition: all 0.5s ease-in-out;
    size: 100%;
}
video::-webkit-media-text-track-display {
    
}


/*New upload*/

#uploadWrapper {
    margin-top: 10px;
}

#uploadWrapper #previewMode {
}

#uploadWrapper #previewMode #meta {
    width: 100%;
    height: 253px;
}
#uploadWrapper #previewMode #poster {
    width: 170px;
    height: 253px;
    margin-right: 10px;
    float: left;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    background-image: url(https://www.directv.com/img/movies.jpg);
}
#uploadWrapper #previewMode #video {
    width: 20%;
    height: auto;
}
#uploadWrapper #previewMode #title {
    font-size: 30px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#uploadWrapper #previewMode #overview {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 211px;
}
#uploadWrapper #files  {
    min-height: 85px;
}
#uploadWrapper #files #labelWrapper{
    width: 100%;
    text-align: center;
}

#uploadWrapper #files h1 {
    float: left;
}
#uploadWrapper #files label {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 0.3s ease-in-out;
    background: rgb(35, 35, 35);
    border-radius: 4px;
    border: 3px dashed #141414;
    padding: 10px 0px 10px 0px;
    margin: 0;
}
#uploadWrapper #files label:hover {
    font-size: 20px;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
}
#uploadWrapper #files label .fa {
    font-size: 50px;
    width: 100%;
    transition: all 0.3s ease-in-out;
    padding: 0px 0px 5px 0px;
}
#uploadWrapper #files #selectedFile{
    padding: 15px 10px 10px 10px;
    display: none;
}
#uploadWrapper #files #selectedFile #fileName{
    font-size: 22px;
    padding: 0px 10px 7px 0px;
}
#uploadWrapper #files #selectedFile #fileSize{
    font-size: 14px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    float: left;
}

#uploadWrapper #files #selectedFile #discard {
    font-size: 25px;
    color: rgb(177, 36, 36);
    float: right;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
}

#uploadWrapper #files #selectedFile .fileProgress{
    width: 90%;
    clear: both;
    max-height: 25px;
    float: left;
}

#uploadWrapper #videoPreview video {
    background: black;
    background-image:url('http://getwallpapers.com/wallpaper/full/1/5/8/155286.jpg');
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.uploadItemRow {
    border-bottom: 1px dotted #676767;
    height: 50px;
    padding: 10px 0px 10px 0px;
    line-height: 30px;
}
.uploadItemRow #title {
    font-size: 18px;
    padding: 0;
    margin: 0;
    float: left;
    padding: 0px 10px 0px 0px;
    line-height: 30px;
}
.uploadItemRow #title h2 {
    color: #d8d8d8;
}
.uploadItemRow .fa {
    font-size: 27px;
    margin: 0;
    padding: 0;
    transition: all 0.2s ease-in-out;
    display: block;
}
.uploadItemRow .fa:hover {
    font-size: 30px;
    cursor: pointer;
    opacity: 0.6;
}
label.uploadIcon {
    float: left;
    width: 50px;
    color: #1062a2;
    transition: all 0.3s ease-in-out;
}
label.uploadIcon:hover {
    cursor: pointer;
}

label.uploadIcon .fa-check-circle {
    color: #2ba230;
}
.uploadItemRow .previewSubtitle {
    float: right;
    height: 100%;
}


/*Custom blocks*/

.mBlock {
    background: #2b2b2b;
    color: #d8d8d8;
    border-radius: 5px;
    margin: 15px 0px 15px 0px;
}
.mBlock .mHeader {
    position: relative;
    width: 100%;
    padding: 10px;
    background-color: #1062a2;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.8);
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.8);
    font-size: 20px;
    font-weight: normal;
    color: #ffffff;
    font-family: inherit;
}

.mBlock .mRow{
    padding: 10px;
    border-radius: 4px;
}

/*Icon settings*/
.mBlock .iconBefore:before {
    font-family: FontAwesome;
    margin-right: 9px;
}

/*All icons by name*/
.mBlock .icon-upload:before { content: "\f0ee"; }
.mBlock .icon-film:before { content: "\f008"; }
.mBlock .icon-subtitle:before { content: "\f20a"; }
.mBlock .icon-settings:before { content: "\f013"; }
.mBlock .icon-preview:before { content: "\f06e"; }
.mBlock .icon-search:before{ content: "\f002"; }




/*error boxes*/

.appendError {
    /*position: absolute;
    left: 0px;
    top: -50px;*/
    border-radius: 5px;
}
.errorContent {
    padding: 5px;
    background: green;
}

/*@Override*/
.alert {
    margin: 0;
    padding: 10px;
}
/*@Override*/
